{{>header}}
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>