<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/login.js"></script>
</head>

{{>header}}

<body>
    <div class="main-content">
        <form onsubmit="callAPI(event)">
            <div class="form-a">
                <input type="text" id="email" placeholder="آدرس ایمیل">
                <input type="text" id="password" placeholder="پسورد">
            </div>
            <button type="submit">Submit</button>
        </form>
        <p id="weatherTXT"></p>
    </div>

    {{>footer}}
</body>

</html>