<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <script src="/js/print.js"></script>
    <style type="text/css" media="print">
        @page {
            size: landscape;
        }

        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <table id="example" style="width:50%; margin-right:auto; float: right;">
        <thead>
            <tr>
                <th>sportName</th>
                <th>set</th>
                <th>weight</th>
                <th>number</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>sportName</th>
                <th>set</th>
                <th>weight</th>
                <th>number</th>
            </tr>
        </tfoot>
    </table>
</body>

</html>