<!DOCTYPE html>
<html>

{{>loginGuard}}

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/workout.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <script src="/js/workouts.js"></script>
</head>

<style>
    @font-face {
        font-family: myFirstFont;
        src: url('/font/IRANSansWeb(FaNum).woff');
    }

    * {
        font-family: myFirstFont;
    }
</style>


{{>header}}

<body>
    <button onclick="create()">اضافه کردن تمرین</button>
    <button onclick="doPrint()">چاپ لیست</button>
    <button onclick="doPrint2()" id="updateDetails">چاپ چندتایی</button>
    <div id="table-container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>اسم ورزش</th>
                    <th>ست</th>
                    <th>وزن</th>
                    <th>تعداد</th>
                    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>اسم ورزش</th>
                    <th>ست</th>
                    <th>وزن</th>
                    <th>تعداد</th>
                    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>

    <dialog id="favDialog">
        <form method="dialog">
            <p><label>تاریخ لیست دیگر:
                    <select value="1111" id="mainSelect">
                    </select>
                </label></p>
            <menu>
                <button value="cancel">خروج</button>
                <button id="confirmBtn" value="default">تایید</button>
            </menu>
        </form>
    </dialog>
    {{>footer}}
</body>

</html>