<head>
    <link rel="icon" href="{{icon}}">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <h1>{{title}}</h1>

        <a href="/login" id="login">ورود</a>
        <a href="/register" id="register">ثبت نام</a>
        <a href="/">مخاطبین</a>
        <a href="/about">درباره ما</a>
        <a href="/help">راهنما</a>
    </header>
    <script src="/js/header.js"></script>
</body>