<head>
    <link rel="icon" href="{{icon}}">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <h1>{{title}}</h1>

        <a href="/">Your Lists</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
        <a href="/register" id="register">Sing Up</a>
        <a href="/login" id="login">Login</a>
    </header>
    <script src="/js/header.js"></script>
</body>