<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <header>
        <h1>{{title}}</h1>

        <a href="/">Your Lists</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </header>
</body>